### Select lang ###

LANGUAGE=php

### Path ###

NGINX_CONF_PATH=./docker/middleware/nginx/conf.d

DATA_SAVE_PATH=./data

### MySQL ###

MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./docker/database/mysql/docker-entrypoint-initdb.d